
{% set filter = app.session.get('filter') %}
{#{% if filter is defined %}
    {{ dump(filter['role'])}}
{% endif %}#}
<form id='filterForm'>
    <label for="username"> Username</label>
    <input type="text" id='username' name="username" value="" />

    {#    <input type='hidden' name='page' value='{{filter['page']}}'/>#}

    <label for="roles">Role</label>
    <select name="role" id='role'>
        <option selected value='' >Role</option>
        <option value=1   >Admin</option>
        <option value=2   >Mother</option>
        <option value=3   >Child</option>

    </select>

    <button  id='filter'>Filter</button>
</form>



<script>
    $(document).ready(function () {

        $('#pagination').on('click', function (e) {
            console.log(e);
            e.preventDefault();
            var p = e.target.id;
            var filter = {
                'page': p,
                'username': $('#username').val(),
                'role': $('#role').val()}
            pageClick(e, filter);
        });

        $("#filter").click(function (e) {
            e.preventDefault();
            console.log($('#username').val());
            var filter = {
                'page': 1,
                'username': $('#username').val(),
                'role': $('#role').val()};
            console.log(filter);
                getResult('{{ path('user_filter') }}', filter);
            });

            function pageClick(e, filter) {
                console.log(filter);
                var p = e.target.id;
                if (!isNaN(p)) {
                    getResult("/user/filter", filter);
                }
            }

            function toFormData(url, filter) {
                var result = url;
                var str = [];
                for (var p in filter)
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(filter[p]));
                result += str.join("&");
                return result;
            }

            function getResult(url, filter) {
                var url = toFormData(url + "?", filter);
                console.log(url);
                $.ajax({"url": url,
                    "method": "GET",
                    "dataType": "json",
                    success: function (result) {

                        if (result) {
                            var strUser = "<tr>";
                            $.each(result.data.users, function (key, user) {
                                var role = user.role == 1 ? 'admin' : user.role == 2 ? 'Mother' : 'child';
                                strUser += "<th><a href='/user/"+user.id+"/show' >" + user.fname + "</th>\
                                                      <td>" + user.lname + "</a></td>\
                                                      <td>" + user.username + "</td>\
                                                      <td>" + role + "</td>\
                                                      <td>" + user.age + "</td>\
                                                    ";
                                strUser += '</tr>';
                            });
                            var strPaginate = "";
                            if (result.data.maxPages > 1) {
                                for (var page = 1; page <= result.data.maxPages; page++) { 
                                    var active ='';
                                    var id = page;
                                    if(result.data.currentPage == page) {
                                        active = 'active';
                                        id = 'active';
                                    }
                                    
                                    strPaginate += "<li class='page-item "+active+"'>\
                                                        <div class='page-link'  id='"+id+"' class='page'>"+page+"</div></li>";
                                }
                            }


                            $('#users').empty();
                            $('#users').append(strUser);
                            $('#pagination').empty();
                            $('#pagination').append(strPaginate);
                            $(".page-link").css("cursor","pointer");
                        }
                    }
                });
            }
        });
</script>        


