{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if is_granted('ROLE_MOTHER') %}
                    <h1>Add new child</h1>
                {% else %}
                    <h1>Registration Form</h1>
                {% endif %}
                

                {{ form_start(form ,{'attr': {'novalidate': 'novalidate'}} ) }}
                    {{ form_widget(form) }}
                    <input type="submit" value="Register" class="btn btn-primary"/>
                {{ form_end(form) }}

              
            </div>
        </div>
    </div>
{% endblock %}
