
<form action="{{ path('user_filter') }}" method="GET" id='filterForm'>
    <label for="username">Username</label>
    <input type="text"  name="username" value="" />

    <label for="roles">Role</label>
    <select name="role">
        <option value="">Role</option>
        <option value="0">Admin</option>
        <option value="1">Mother</option>
        <option value="2">Child</option>
        
    </select>
    
    <button  id='filter'>Filter</button>
</form>

    
    
    
            <script>
              $(document).ready(function(){
                  $("#filter").click(function(){
                      {#console.log($('#filterForm').serializeArray());
                      return false ;#}
                      console.log('submit');
                      $.ajax({url: $('#filterForm').attr('action'),
                              type: $('#filterForm').attr('method'),
                              data: $('#filterForm').serializeArray(),
                              success: function(result){
                              console.log('result');
                        {#if (result.data ){
                          $("#{{task.id}}notDone").show();
                          $("#{{task.id}}done").hide();
                        }#}
                      }
                    });
                  });
                
              });
            </script>