
<form id='filterForm'>
    <label for="taskName">Task Name</label>
    <input type="text"  name="taskName" value='' id='taskName'/>

    <label for="shedule">Schedule</label>
    <select name="schedule" id='schedule'>
        <option selected value="-1">Schedule</option>
        <option  value="0">Daily</option>
        <option  value="1">Sunday</option>
        <option  value="2">Monday</option>
        <option  value="4">Tuesday</option>
        <option  value="8">Wednesday</option>
        <option  value="16">thursday</option>
        <option  value="32">Friday</option>
        <option  value="64">Saturday</option>
    </select>
    

    <button  id='filter'>Filter</button>
</form>

   
<script>
    $(document).ready(function () {

        $('#pagination').on('click',function (e) {
            console.log(e);
            e.preventDefault();
            var p = e.target.id;
            var filter = {
                'page': p,
                'taskName': $('#taskName').val(),
                'schedule': $('#schedule').val()};
            pageClick(e, filter);
        });

        $("#filter").click(function (e) {
            e.preventDefault();
            var filter = {
                'page': 1,
                'taskName': $('#taskName').val(),
                'schedule': $('#schedule').val()};
            console.log(filter);
            getResult('{{ path('task_filter') }}', filter);
        });

        function pageClick(e, filter) {
            console.log(filter);
            var p = e.target.id;
            if(! isNaN(p)) {
                getResult("/task/filter", filter);
            }
        }

        function toFormData(url, filter) {
            var result = url;
            var str = [];
            for (var p in filter)
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(filter[p]));
            result += str.join("&");
            return result;
        }

        function getResult(url, filter) {
            var url = toFormData(url + "?", filter);
            console.log(url);
            $.ajax({"url": url,
                "method": "GET",
                "dataType": "json",
                success: function (result) {

                    console.log(result);
                    var strTask = "<tr>";
                    if (result.data) {
                        $.each(result.data.tasks, function (key, task) {
                            strTask += "<th>" + task[0].taskName + "</th>\
                                                      <td>" +task['username'] + "</td><td></td>\
                                                    ";
                            strTask += '</tr>';
                        });
                        
                        var strPaginate = "";
                        if (result.data.maxPages > 1) {
                                for (var page = 1; page <= result.data.maxPages; page++) { 
                                    var active ='';
                                    var id = page;
                                    if(result.data.currentPage == page) {
                                        active = 'active';
                                        id = 'active';
                                    }
                                    
                                    strPaginate += "<li class='page-item "+active+"'>\
                                                        <div class='page-link'  id='"+id+"' class='page'>"+page+"</div></li>";
                                }
                            }
                    } else {
                        strTask += "<th> No Result </th> </tr>";
                    }
                        
                        $('#table').slideDown(500);             
                        $('#tasksBlock').empty();
                        $('#tbody').empty();
                        $('#tbody').append(strTask);
                        $('#pagination').empty();
                        $('#pagination').append(strPaginate);
                        $(".page-link").css("cursor","pointer");
                    
                }
            });
        }
    });
</script>