{% extends "::base.html.twig" %}

{% block title %}TimeBundle:Mother:showMyChildren{% endblock %}

{% block body %}
    <h1>Welcome {{ app.user.username }} this is your children </h1>
    
    <div class="row">
        {% for child in children %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                  <h3 class="card-title">{{child.username|title}}</h3>
                  <a href="{{ path('dailySchedule_index', { 'child_id': child.id }) }}" class="btn btn-primary">Go To {{child.fname}}`s Schedule</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
